
<h2>Nova Tarefa</h2>
<%= form_with model: Task.new do |f| %>
  <%= f.label :description, 'Descrição' %>
  <%= f.text_field :description %>
  <%= f.label :deadline, 'Prazo' %>
  <%= f.datetime_field :deadline %>
  <%= f.label :priority, 'Prioridade' %>
  <%= f.select :priority, options_for_select([['Alta', 1], ['Média', 2], ['Baixa', 3]], 2) %>
  <%= f.label :status, 'Concluída' %>
  <%= f.check_box :status %>
  <%= f.submit 'Criar' %>
<% end %>


 
