<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerenciador de Tarefas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<div class="container mt-3">
<h3>Pendentes:</h3> 
<div style='text-align:right'><button type="button" class="btn btn-outline-primary"> <%= link_to 'Nova tarefa', new_task_path %> </button></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Prazo</th>
        <th>Prioridade</th>
        <th>Status</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <td><%= task.description %></td>
      <td><%= task.deadline %></td>
      <td><%= if task.priority == 1
          'Alta'
          elsif task.priority == 3
          'Baixa'
          else
          'Média'
          end %></td>
      <td><%= if task.status == true 
          'executada' 
          else
          'pendente'
           end %></td>
      <td><button type="button" class="btn btn-outline-primary"> <%= link_to 'Editar', edit_task_path(task) %> </button>
          <button type="button" class="btn btn-outline-danger"> <%= link_to 'Apagar', task_path(task), 
          method: :delete, data: { confirm: 'Quer apagar esta tarefa?' }%></button></td>
          <% end %>
      </tr>
    </tbody>
</table>
</div>